@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    --blue:#2980b9;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s cubic-bezier(.37,1.14,.26,1.24);
}

*::selection{
    background:#ff3300;
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn{
    height: 4rem;
    width: 14rem;
    background:var(--blue);
    color:#fff;
    font-size: 2rem;
    cursor: pointer;
    border:none;
    outline: none;
	text-decoration:none;
}

.btn:hover{
    letter-spacing: .2rem;
    opacity: .8;
}
.navbar-light .navbar-brand {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.navbar-toggler {
	background: #fff;
}
.navbar-nav {
	text-align: center;
}
.nav-link {
	padding: .2rem 1rem;
}
.nav-link.active, .nav-link:focus {
	color: #fff;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

.fixed{
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  width:100%;
  z-index:9999;
}
.heading{
    padding-top: 0.2rem;
    width: 95%;
    border-bottom: .2rem solid rgba(0,0,0,.3);
    margin:0 auto;
}

.heading span{
    font-size: 2rem;
    padding:1rem 6rem;
    color:#fff;
    background:var(--blue);
    border-top-right-radius: 3rem;
    display: inline-block;
}
.header-1{
	height:76px;
	
}
.header-2{
	margin-top:1px;
	
}
header .header-1, header .header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem;
    width: 100%;
    z-index: 1000;
}

header .header-1 .logo{
    font-size: 4rem;
    color:#478233;
	font-family:Bungee;
}

header .header-1 .logoimg{
	width:90px;
	height:60px;
}

header .header-1 .logo i{
    color:var(--#e4dd00);
}

header .header-1 .form-container form{
    display: flex;
}

header .header-1 .form-container form #search{
    height: 4rem;
    width: 50rem;
    outline: none;
    border:.2rem solid #e0dede;
    font-size: 1.5rem;
    padding:0 1rem;
}

header .header-1 .form-container form #search:focus{
    border-color: var(--#4fad15);;
}

header .header-1 .form-container form label{
    height: 4rem;
    width: 5rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    cursor: pointer;
    background-color:rgb(46,185,144);
    color:#fff;
}

header .header-1 .form-container form label:hover{
    color:yellow;
}
header .header-1 .login{
     font-size:2rem;	
}	

header .header-2{
    background-color:rgb(46,185,144);
}
header .header-2 .navbar{
	width:auto;
	height:32px;
}
header .header-2 .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-2 .navbar ul li{
    margin:0rem 5rem;
}

header .header-2 .navbar ul li a{
    font-size: 2.2rem;
    color:white;
	font-family:Arial;
	margin-bottom:2.5px;
}

header .header-2 .navbar ul li a.active
header .header-2 .navbar ul li a:hover{
    color:white;
	text-decoration:none;
}

header .header-1 .icons a{
    color: #4C4B4B;
    font-size: 2rem;
    padding: 0 3rem;
}

header .header-1 .icons a:hover{
    color:#478233;
}

header .header-2 #menu{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}

header .header-2.header-active{
    position: fixed;
    top:0; left: 0;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

#carousel .carousel-item.boat{
    background-image:url("pictures/pic1.jpg");
  }
  #carousel .carousel-item.sea{
    background-image:url("pictures/pic2.jpg");
  }
  #carousel .carousel-item.river{
    background-image:url("pictures/pic3.jpg");
  }
  #carousel .carousel-item{
    height:100vh;
    width:100%;
    min-height:350px;
    background:no-repeat center center scroll;
    background-size:cover;
    margin-top:78px;
  }
  #carousel .carousel-inner .carousel-item{
    transition:-webkit-transform 2s ease;
    transition:transform 2s ease;
    transition:transform 2s ease, -webkit-transform 2s ease;
  }
  #carousel .carousel-item .caption{
    background:rgba(0,0,0,0.5);
    padding:40px;
    color:white;
    font-size:2rem;
    animation-duration: 1s;
    animation-delay: 2s;
  }
  #carousel .caption h2{
    animation-duration: 1s;
    animation-delay: 2s;
    font-size:3rem;
  }
  #carousel .caption p{
    animation-duration: 1s;
    animation-delay: 2.2s;
  }
  
  #carousel .caption a{
    animation-duration: 1s;
    animation-delay: 2.4s;
  }
  
  body {
    margin: 40px 0 40px 0;
    padding: 0;
    border: none;
    outline: none;
    /* background-color: #eee; */
    background-color: #AFEEEE;
    box-shadow: none;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

main {
    background-color: white;
    padding: 10px 40px 40px 40px;
    display: block;
    text-align: left;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
}

header {
    text-align: center;
}

h1 {
    font-size: 40px;
    color: #191516;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    align-items: center;
}

#name, #email, #number, #dropdown {
    outline: none;
    width: 100%;
    padding: 7px;
    font-size: 16px;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    background-color: white;
    box-sizing: border-box;
}

#dropdown, option {
    outline: none;
}

select {
    padding: 7px;
}

textarea {
    display: block;
}

.form-group {
    padding: 8px 0;
    margin-bottom: 2px;
}

.form-group>label {
    margin-bottom: 8px;
    color: #191516;
    display: block;
    font-weight: 500;
}

[type="checkbox"]+label>span, [type="radio"]+label {
    font-size: 16px;
}

[type="checkbox"], [type="radio"] {
    margin: 0 8px 0 0;
    box-sizing: border-box;
    min-width: 18px;
    min-height: 18px;
}

/*hide the original checkbox and radio button*/

[type="checkbox"] , [type="radio"] {
    opacity: 0;
    pointer-events: none;
}


.radio-group, .checkbox-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    position: relative;
}

[type="radio"]+label {
    margin: 0 5px 0 0;
    font-size: 16px;
    position: relative;
    cursor: pointer;
}

[type="checkbox"]+label {
    margin: 0 5px 0 0;
    font-size: 16px;
    position: relative;
    cursor: pointer;
}

/* this is the custom box for the checkbox*/

[type="checkbox"]+label::before {
    content: '';
    min-width: 18px;
    min-height: 18px;
    position: absolute;
    left: -26px;
    border-radius: 3px;
    /* top: 5px; */
    background-color: #eee;
    transition: all 0.4s;
}

[type="checkbox"]+label svg {
    position: absolute;
    width: 28px;
    left: -31px;
    top: -5px;
}

/* this is the polyline for the checkmark svg */

[type="checkbox"]+label svg polyline {
    stroke: white;
    stroke-width: 8;
    fill: none;
    stroke-dasharray: 70;
    stroke-dashoffset: 70;
    transition: stroke-dashoffset 0.4s;
}

/* change the color of custom checkbox when the original checkbox is in checked state */

[type="checkbox"]:checked+label::before {
    background-color: #191516;
}

/* setting stroke-dashoffset to 0 will reveal the hidden checkmark */

[type="checkbox"]:checked+label svg polyline {
    stroke-dashoffset: 0;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    height: 200px;
    resize: none;
    padding: 4px;
    font-size: 16px;
    border: 1px solid #dee2e6;
}

button {
    width: 100%;
    display: block;
    height: 40px;
    background-color: #191516;
    border: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
}

#description {
    text-align: center;
    font-style: italic;
    margin-top: -10px;
}

/* custom circle for radio button*/
[type="radio"]+label::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: #eee;
    left: -27px;
    top: -1px;
    width: 20px;
    height: 20px;
    transition: all 0.4s;
}

/* fill circle with inset shadow when it is selected*/
[type="radio"]:checked+label::before {
    box-shadow: inset 0 0 0 6px #191516;
}


@media (max-width: 540px) {
 main {
        max-width: 380px;
    }
}
@media (max-width: 460px) {
    main {
        max-width: 280px;
    }
    h1 {
        font-size: 32px;
    }
    #description {
        font-size: 15px;
    }
    form {
        font-size: 18px;
    }
    #name, #email, #number, #dropdown, textarea {
        font-size: 15px;
    }
    [type="radio"]+label, [type="checkbox"]+label>span {
        font-size: 15px;
    }
}

@media (max-width: 375px) {
 main {
        max-width: 260px;
        padding: 10px 30px 30px 40px;
    }
    h1 {
        font-size: 28px;
    }
    #description {
        font-size: 12px;
    }
    form {
        font-size: 15px;
    }
    #name, #email, #number, #dropdown, textarea {
        font-size: 12px;
    }
    [type="radio"]+label, [type="checkbox"]+label>span {
        font-size: 12px;
    }
    button {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
 main {
        max-width: 220px;
    }
}

@media (max-width: 280px) {
 main {
        max-width: 180px;
    }
}

/*footer*/
footer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #E0E0E0;
    margin: 0 0 5px;
    padding: 15px 0 15px 20px;
    
  }
  
  .about {
    float: left;
    width: 50%;
    font-size: 15px;
  }
  
  .social-link-footer,.payment {
    height: 40px;
    border: 1px solid rgba(0.05, 0, 0, 0);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 19px;
  }
  
  .social-footer a,.payment a {
    margin: 0px 8px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 19px;
  }
  .social-footer a:hover{
    color: green;
  }
  .payment a{
    color: green;
    padding:5px;
    font-size:24px;
  }
  
  .phone-footer {
    color: rgba(0, 0, 0, 0.7);
    margin-left: 10px;
    font-size: 15px;
  }
  .seconddiv{
    width: 25%;
    float: right;
    justify-content: center;
    text-align: center;
  }
  ul{
    cursor: pointer;
    list-style: none;
  }
  ul a{
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
  
  .thirddiv input{
      width: 20%;
      height:30px;
      margin-bottom: 20px;
  }
  .thirddiv button{
      background-color:orange;
      width:140px;
      height:50px;
      justify-content: center;
      text-align: center;
      margin-left:48px;
  }
  .thirddiv button:hover{
      background-color:green;
  }
  